/conf/*
!/conf/modules.lst
!/conf/modules-develop.lst
!/conf/*.conf
/completion/*
!/completion/olixmain
/modules/*
!/modules/empty
/archive.sh
olixsh-get-archives-from-forge.sh
docs/__TOKEN_FORGE__
docs/DGAC.md
docs/MODULES.md
*.code-workspace