/conf/*
!/conf/modules.lst
!/conf/modules-develop.lst
!/conf/*.conf
/completion/*
!/completion/olixmain
/modules/*
!/modules/empty
olixsh-get-archives-from-forge.sh
*.dev.sh
docs/__TOKEN_FORGE__
docs/*.x.md
*.code-workspace